# dependencies
node_modules/

# build
dist/
dist-ssr/

# logs
*.log
npm-debug.log*
dev.log

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# os
.DS_Store
Thumbs.db
